.intro__inf {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .intro__inf {
    font-size: 12px;
    line-height: 19px;
  }
}
