.video__container {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
  font-family: "Inter", Arial, Helvetica;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .video__container {
    grid-gap: 16px;
  }
}
@media (max-width: 767px) {
  .video__container {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 8px;
  }
}